* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

#showcase {
   
   height: 100vh;
   background: #444;
}

a {
   text-decoration: none;
   color: #f4f4f4;
}

li {
   list-style: none;
}

#logo img {
   
   margin-left: 70px;
   margin-top: 10px;
   height: 50px;
   width: 110px;
}

#navbar {
   margin-top: -60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}

#navbar li {

   padding: 20px 50px;
}

body .btn {
   background: none;
   border: rgb(80,180,226) 3px solid;
   padding: 10px 20px;
   border-radius: 20px;
   margin-bottom: 10px;
   margin-right: 60px;

}

#btn-1   {
   margin-top: -50px;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
}

#layer {
   height: 250px;
   display: flex;
   flex-direction: row;
   background: rgb(72, 153, 173);
   justify-content: space-evenly;
   text-align: center;
   
   
}

.boxes-1 {
   background: url(/Anh\ Nghe-3.jpg) center center/cover no-repeat;
   height: 100%;
   width: 33.3%;
   padding: 10px;
   color: rgb(227, 230, 63);
   font-size: 24px;
   background-blend-mode: multiply;
   background-color: #444;
}


   


.info-img2 {
   background: url(/Anh\ Nghe-6.jpg) center center/cover no-repeat;
   width: 33.3%;
   height: 100%;
   padding: 10px;
}

.info-img3 {
   background: url(/Anh\ Nghe-5.jpg) center center/cover no-repeat;
   width: 33.3%;
   height: 100%;
   padding: 10px;
}

.boxes-1 h3 {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  
}

.boxes-1 h3::after {
   content: '';
   position: absolute;
   left: -10px;
   top: -0.25rem;
   bottom: -0.25rem;
   width: 100%;
   background: #ee6352;
   z-index: -1;
   transform: scaleX(0.1);
   transform-origin: left;
   transition: transform 250ms ease-in;
}

.boxes-1:hover  h3::after {
   transform: scaleX(1);
}

.boxes-1 p {
   color: transparent;
   position: relative;
   z-index: 1;
   transition: color 150ms 350ms;
}

.boxes-1 p::after {
   content: '';
   position: absolute;
   top: -16px;
   bottom: 0;
   left: 0;
   right: 0;
   background: white;
   z-index: -1;
   transform: scaleY(0);
   transition: transform 250ms ease-in 250ms;
   /* transition-delay: 250ms; same as 250ms above */
   transform-origin: top;
}

.boxes-1:hover p {
   color: #444;
}

.boxes-1:hover p::after {
   transform: scaleY(1);
}

