* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

#showcase {
   
   height: 100vh;
   background: rgb(172, 39, 39);
}

body .container {
   margin-top: 250px;
   font-size: 30px;
   text-align: center;
   justify-content: center;
   
}

.container h1 {
   position: relative;
   display: inline-block;
   color: transparent;
   animation: text_reveal 0.5s ease forwards;
   animation-delay: 1s;
   width: fit-content; 
}

body h1 span   {
   position: absolute;
   left: 0;
   right: 0;
   height: 100%;
   width: 0;
   opacity: ;
   background-color:rgb(80,180,226) ;
   animation: overlay 1s ease forwards;
   animation-delay: 0.5s;
}

h1:nth-child(1){
   animation-delay: 1s;
}

h1:nth-child(2){
   animation-delay: 3s;
}
body h1:nth-child(1) span {
   animation-delay:  0.5s;
}
body h1:nth-child(2) span {
   animation-delay: 3.5s;
}
@keyframes overlay {
   50%{
      width: 100%;
      left: 0;
   }
   100% {
      left:100%;
      width: 0;
   }
}

@keyframes text_reveal {
   to {
      color: black;
   }
}

a {
   text-decoration: none;
   color: #f4f4f4;
}

li {
   list-style: none;
}

#logo img {
   
   margin-left: 70px;
   margin-top: 10px;
   height: 50px;
   width: 110px;
}

#navbar {
   
   margin-top: -60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}

#navbar li {

   padding: 20px 50px;
}

.btn {
   background: none;
   border: rgb(80,180,226) 3px solid;
   padding: 10px 20px;
   border-radius: 20px;
   margin-bottom: 10px;
   margin-right: 60px;
   cursor: pointer;
   position: relative;
   z-index: 1;
   color: white;
   font-family: "montserrat";
   overflow: hidden;
   transition: 1s all ease;
}

#btn-1   {
   
   margin-top: -50px;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   position: relative;
}



.btn::before {
   background: rgb(80,180,226);
   content: '';
   height: 100%;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%)  ; 
   z-index: -1;
   transition: all 0.6s ease; 
   
}

.btn3  {
   position: relative;
   padding: 15px 30px;
   border: none;
   overflow: hidden;
   background: none;
   border-radius: none  ;
   margin-bottom: 10px;
   margin-right: 60px;
   color: white;
}

.btn1::before {
   width: 0;
   height: 100%;
   
}

.btn1:hover::before {
   width: 100%;
} 

.btn2::before {
   width: 100%;
   height: 0;
}

.btn2:hover::before{
   height: 100%;
}



   


button span {
   position: absolute;
   display: block;
}
button span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg,transparent,rgb(72, 153, 173) );
}  

button:hover span:nth-child(1) {
   left: 100%;
   transition:1s;
}

button span:nth-child(3) {
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg,transparent,rgb(80,180,226) );
}

button:hover span:nth-child(3) {
   right: 100%;
   transition:1s;
   transition-delay: 0.5s;
}

button span:nth-child(2) {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg,transparent,rgb(80,180,226) );
}

button:hover span:nth-child(2) {
   top: 100%;
   transition:1s;
   transition-delay: 0.25s;
}
button span:nth-child(4) {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg,transparent,rgb(80,180,226) );
}

button:hover span:nth-child(4) {
   bottom: 100%;
   transition:1s;
   transition-delay: 0.75s;
}
.btn3:hover { 
   color: white;
   background: rgb(80,180,226);
   box-shadow:0 0 10px rgb(80,180,226) ,0 0 40px rgb(80,180,226) ,0 0 80px rgb(80,180,226);
   transition-delay: 1s;
   
   
}


#layer {
   height: 250px;
   display: flex;
   flex-direction: row;
   background: rgb(72, 153, 173);
   justify-content: space-evenly;
   text-align: center;
   
   
}

.boxes-1 {
   background: url(/Anh\ Nghe-3.jpg) center center/cover no-repeat;
   height: 100%;
   width: 33.3%;
   padding: 10px;
   color: rgb(72, 153, 173);
   font-size: 24px;
   background-blend-mode: multiply;
   background-color: #444;
}


   


.info-img2 {
   background: url(/Anh\ Nghe-6.jpg) center center/cover no-repeat;
   width: 33.3%;
   height: 100%;
   padding: 10px;
}

.info-img3 {
   background: url(/Anh\ Nghe-5.jpg) center center/cover no-repeat;
   width: 33.3%;
   height: 100%;
   padding: 10px;
}

.boxes-1 h3 {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  
}

.boxes-1 h3::after {
   content: '';
   position: absolute;
   left: -10px;
   top: -0.25rem;
   bottom: -0.25rem;
   width: 100%;
   background: #ee6352;
   z-index: -1;
   transform: scaleX(0.1);
   transform-origin: left;
   transition: transform 250ms ease-in;
}

.boxes-1:hover  h3::after {
   transform: scaleX(1);
}

.boxes-1 p {
   color: transparent;
   position: relative;
   z-index: 1;
   transition: color 150ms 350ms;
}

.boxes-1 p::after {
   content: '';
   position: absolute;
   top: -16px;
   bottom: 0;
   left: 0;
   right: 0;
   background: white;
   z-index: -1;
   transform: scaleY(0);
   transition: transform 250ms ease-in 250ms;
   /* transition-delay: 250ms; same as 250ms above */
   transform-origin: top;
}

.boxes-1:hover p {
   color: #444;
}

.boxes-1:hover p::after {
   transform: scaleY(1);
}

#section2 {
   display: flex;
   flex-direction: column;
   background-color: #444;
}
.img-1 {
   background: url(/Desque_MenuHeaderLogo.png) no-repeat center center/cover;
   height:300px;
   width: 800px;
   position: relative;
   top: 0;
   left: 50%;
   transform: translate(-50%);
   
}

.content1 {
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   height: 200px;
   text-align: center;
   align-items: center;
}

.content1 h3 {
   width: 50%;
   font-size: 2rem;
}

.asd {
   width: 50%;
   font-size: 1.2rem;
}

.btn4 {
   background: none;
   border: rgb(80,180,226) 5px solid;
   padding: 10px 30px;
   border-radius: 30px;
   cursor: pointer;
   position: relative;
   color: white;
   margin: 20px 20px;
   font-size: 1.2rem;
   /* transform: scale(0.8); */
   
}

.btn4:hover{
   background:rgb(80,180,226);
   transition: 0.5s ease-in;
   
}

.btn4::before {
   position: absolute;
   content: '';
   top: -20%;
   left: -5.3%;
   height: 100%;
   width: 99%;
   /* padding: 10px 30px; */
   /* border-radius: 30px; */
   border: 9px solid rgb(80,180,226);
   border-radius: 38px;
   animation: button_pulse 1.3s ease infinite;
}

@keyframes button_pulse {
   0%{
      opacity: 1;
      transform: scale(1);
   }
   100%{
      opacity: 0;
      transform: scale(1.1);
   }
}
#section3 {
   height: 100vh;
   background-color: #f4f4f4;
   background: url(/Anh\ Nghe-3.jpg) center center/cover no-repeat ;
   background-blend-mode: multiply;
   background-color: #444;
   display: flex;
   z-index: -1;
}

/* #section3 h1 {
   
   height: 20%;
   font-weight: 700;
   font-size: 3rem;
   color: white;
   text-align: center;
   padding: 70px;
   position: relative;
} */

.boxes-2 {
   position: relative;
   margin-top: 200px;
   flex-direction: row;
   flex-basis: 33.3%;
   justify-content: center;
   text-align: center;
   padding: 50px 40px;
   color: white;
}

#section3::before {
   height: 200px;
   width: 100%;
   content: 'Solutions for your Unanswered Problems';
   position: absolute;
   color: white;
   /* top: 50%; */
   left: 50%;
   transform: translate(-50%,50%);  
   z-index: 1;
   font-size: 3rem;
   font-weight: 800;
   text-align: center;
}

#section3 h3 {
   font-size: 2rem;
   padding: 25px 25px;
   font-weight: 300;
}

#section3 p {
   line-height: 1.6rem;

   margin-bottom: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section3 i {
   color: rgb(80,180,226);
}

#section3 a {
   color: rgb(80,180,226);
}
